<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Text Extractor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" 
        crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="global">
  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Smart Doc </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header Section -->
  <div class="header text-center p-5">
    <h1>Smart Doc: Text Extractor</h1>
    <p class="text-muted">The Best Online Text Extractor for PDFs and Images</p>
  </div>

  <!-- Content Block -->
  <div class="container">
    {% block content %}
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <label for="file" class="form-label">Upload a file (PDF or Image)</label>
            <input type="file" name="upload_file" class="form-control" id="file">
          </div>
          <button type="submit" class="btn btn-primary">Extract Text</button>
        </form>
      </div>
    </div>
    {% endblock content %}
  </div>

  <!-- Footer -->
  <footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
      <span class="text-muted">© 2024 Text Extractor. All rights reserved.</span>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/9bYwv1peRmJWZX3AJxtPu+Bl1o7FeOYB1TVsP8" crossorigin="anonymous"></script>
</body>
</html>
